name: Continuous integration

on:
  push:
    branches:
      - master
      - "[0-9]+.[0-9]+"
    tags:
      - "*"
  pull_request:

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}

permissions:
  contents: write
  id-token: write

jobs:
  pre-commit:
    name: Check with pre-commit and Prospector
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    outputs:
      success: ${{ steps.success.outputs.success }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.14"
      - run: python3 -m pip install --requirement=ci/requirements.txt

      - name: Print environment information
        run: c2cciutils-env

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: "pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}\npre-commit-"
      - run: pre-commit run --all-files --color=always
      - run: git diff --exit-code --patch > /tmp/pre-commit.patch; git diff --color; git reset --hard || true
        if: failure()
      - uses: actions/upload-artifact@v5
        with:
          name: Apply pre-commit fix.patch
          path: /tmp/pre-commit.patch
          retention-days: 1
        if: failure()

      - name: Install with Poetry
        run: poetry install

      - name: Prospector
        run: |
          poetry run prospector --output-format=pylint --die-on-tool-error

      - id: success
        run: echo "::set-output name=success::true"

  main:
    name: Continuous integration
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    outputs:
      success-3-10: ${{ steps.success.outputs.success-3-10 }}
      success-3-x: ${{ steps.success.outputs.success-3-x }}

    strategy:
      fail-fast: false
      matrix:
        python-version:
          # Test the min and max Python versions supported by the project
          - "3.10"
          - "3.x"

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - run: python3 -m pip install --requirement=ci/requirements.txt

      - name: Install with Poetry
        run: poetry install

      - name: Tests
        run: poetry run pytest -vv

      - id: success
        run: |
          VERSION=$(echo "${{ matrix.python-version }}" | tr '.' '-')
          echo "::set-output name=success-${VERSION}::true"

  publish:
    name: Publish
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    needs:
      - main
      - pre-commit
    if: always()

    permissions:
      id-token: write

    steps:
      - run: "[[ ${{ needs.pre-commit.outputs.success }} == 'true' ]]"
      - run: "[[ ${{ needs.main.outputs.success-3-10 }} == 'true' ]]"
      - run: "[[ ${{ needs.main.outputs.success-3-x }} == 'true' ]]"

      - uses: actions/checkout@v5

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
        if: env.HAS_SECRETS == 'HAS_SECRETS'

      - uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.14"
      - run: python3 -m pip install --requirement=ci/requirements.txt

      - name: Login with OIDC (OpenID Connect)
        run: .github/pypi-login
      - name: Publish
        run: tag-publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: git diff --exit-code --patch > /tmp/dpkg-versions.patch; git diff --color; git reset --hard || true
        if: failure()
      - uses: actions/upload-artifact@v5.0.0
        with:
          name: Update dpkg versions list.patch
          path: /tmp/dpkg-versions.patch
          retention-days: 1
        if: failure()
